<% 
const reviewProgress = {}; 
let mode = state.condition;
if(fact.type == 3) mode = 2;
if(typeof options != 'undefined' && 'overrideMode' in options) mode = options.overrideMode;
%>
<% include partial/review-progress %>
<html>
<head>
	<title>(まだ<%= reviewProgress.nowReviews %>枚) 繰り返すの復習</title>
	<%- include('partial/head') %>
	<link rel="stylesheet" type="text/css" href="/css/review.css">

	<link rel="apple-touch-icon" sizes="120x120" href="/icons/joshua-dot/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/joshua-dot/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/joshua-dot/favicon-16x16.png">
	<link rel="manifest" href="/icons/joshua-dot/site.webmanifest">
	<link rel="mask-icon" href="/icons/joshua-dot/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/icons/joshua-dot/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="msapplication-config" content="/icons/joshua-dot/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<%- include('partial/review-base') %>

	<script type="text/javascript">
		$(document).ready(() => {
			let canRespond = true;
			$(".answer-button").click((e) => {
				if(!canRespond) return;

				canRespond = false;
				const answer = $(e.target).attr('answer');

				if(answer == fact.word) setCorrectColor();
				else setWrongColor();

				const result = answer == fact.word ? 1 : 0;
				$(e.target).css('background-color', 'pink');
				$(`.answer-button[answer='${fact.word}']`).css('background-color', 'lightgreen');

				const reviewData =  { 
        			id: fact.id, 
        			input: answer,
        			duration: new Date().getTime() - start, 
        			debug: <%= debug %>, 
        			type: 'external-cloze',
        			source: 'cloze',
        			word: '<%= fact.word %>',
        			result: result,
					choices: '<%- JSON.stringify(clozeChoices) %>',
					clozeSentence: '<%= clozeSentence %>'
        		};

				$.post('/log-cloze', reviewData, (res) => {
					console.log('done');
				});
			});
		});
	</script>
</head>
<body>
	<div id="blanked-text" class="band" style="text-align:center; font-size: 2rem;">
		<span id="original-text-container"><%- clozeSentenceHtml %></span>
	</div>

	<div class='band' style="text-align:center">
	<% for(const choice of clozeChoices) { %>
	<button class="answer-button" answer="<%= choice %>"><%= choice %></button>
	<% } %>
	</div>

	<div id="output-text" class="band" style="text-align:center; font-size: 2rem"></div>
	<div id="answer-text-container" class="band" style="display:none; text-align:center; font-size: 2rem""><%- furiganaHtml %><br><button id="post-play-button"><i class="fas fa-volume-up"></i></button></div>
	<div class="error"></div>
	<div style="height: 100px;"></div>
	<div id="continue" class="band" style="display: none; font-style: italic; text-align: center">Press enter or click to continue... (<%= reviewProgress.nowReviews %> remaining) <button id="delete-review">delete</button> <button class="post-play-button"><i class="fas fa-volume-up"></i></button></div>
</body>
</html>