<html>
<head>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="https://use.fontawesome.com/d8b5485bc7.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/review.css">

<% 
let iconDir = 'estelle';
if (typeof icon != 'undefined' && icon) {
	iconDir = icon;
} 
%>
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/<%= iconDir %>/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/<%= iconDir %>/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/<%= iconDir %>/favicon-16x16.png">
	<link rel="manifest" href="/icons/<%= iconDir %>/site.webmanifest">
	<link rel="mask-icon" href="/icons/<%= iconDir %>/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/icons/<%= iconDir %>/favicon.ico">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-config" content="/icons/<%= iconDir %>/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<% 
		let timeString = "a long time";  
		if(time == null){
			timeString = "no cards have been made"
		} else {
			const minutes = (time - new Date().getTime()) / (1000 * 60);
			const hours = (time - new Date().getTime()) / (1000 * 60 * 60);
			if(minutes < 60) {
				timeString = Math.round(minutes);
				if(timeString == 1) timeString += " minute";
				else timeString += " minutes";
			} else if(hours < 17) {
				timeString =  Math.round(hours);
				if(timeString == 1) timeString += " hour";
				else timeString += " hours";
			} else {
				timeString = Math.round(hours / 24);
				if(timeString == 1) timeString += " day";
				else timeString += " days";
			}
		}


		let dayStart = new Date();
		dayStart.setHours(0,0,0,0);

		let dayEnd = new Date();
		dayEnd.setHours(23,59,59,999);

		let createdToday = 0;
		for(let id in facts){
			const created = facts[id].created;
			if(created >= dayStart && created <= dayEnd){
				createdToday++;
			}
		}
	%>
	<div class="band" style="text-align:center; font-size: 2rem">
		Next review in about <%= timeString %> (<%= next24hourReviews %> in the next day)
		<div style="font-size: 1.5rem">
		<br>
		<br>
		<%= cards %> total cards added (<%= createdToday %> today)<br>
		<br>
		<%= new Date() %>
		</div>
	</div>
</body>
</html>