<div id="continue" class="band" style="display: none; font-style: italic; text-align: center">
	<div id="base-text-container"><%- fact.sentence || fact.context %></div>
	Press enter or click to continue... (<%= options.remainingToday || reviewProgress.nowReviews %> remaining) <button id="disable-reset">disable reset <span id="disable-reset-indicator">[on]</span></button> <button id="delete-review">delete</button> <button id="post-play-button"><i class="fas fa-volume-up"></i></button><button id="show-original-button">Original</button>
</div>

<script type="text/javascript">
$("#disable-reset-indicator").toggle(<%= state["disable-reset"] == true %>);
$("#disable-reset").click(() => {
	$.post('/set-disable-reset', { deck: '<%= deck %>', id: targetId }, () => {
		$("#disable-reset-indicator").toggle();
	});
});

$("#delete-review").click(() => {
	if(confirm("Are you sure you want to delete this?")){
		$.post('/delete-review', { deck: '<%= deck %>', id: targetId }, () => {
			location.reload();
		});
	}
});

$("#post-play-button").click(() => {
	const audio = new Audio('/audio/<%- fact.audio %>');
	audio.play();
});

$("#base-text-container").hide();
$("#show-original-button").click(() => {
	console.log('click');
	$("#base-text-container").show();
});
</script>